fastapi==0.79.0
fastjsonschema==2.16.1
imbalanced-learn==0.9.1
imblearn==0.0
keras==2.9.0
Keras-Preprocessing==1.1.2
uvicorn==0.18.2
ipykernel==6.15.1
ipython==8.4.0
keras==2.9.0
Keras-Preprocessing==1.1.2
langid==1.1.6
lightgbm==3.3.2
nltk==3.7
numpy==1.23.2
pandas==1.4.3
PyMySQL==1.0.2
pyparsing==3.0.9
seaborn==0.11.2
sklearn==0.0
SQLAlchemy==1.4.40
web.py==0.62
cryptography==37.0.4


